# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfstate.lock.info

# Helm
*.tgz

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
ansible/vars.yml
ansible/awscliv2.zip
k8s-terraform/my-eks-key.pem
