# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfstate.lock.info

# Helm
*.tgz

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
ansible/vars.yml
ansible/awscliv2.zip

# AWS credentials
*.key
cUsersAISHWINIPicturesk8s-gitops-platformk8s-terraformmy-eks-key.pem
